<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #0b045a" xmlns:th="http://www.thymeleaf.org">
    <a class="navbar-brand" th:href="@{'/'}">Spring Boot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/'}" th:text="#{navbar.home}"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/'}" th:text="#{navbar.items}"></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{language}">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{'?yazyk=ru'}">RU</a>
                    <a class="dropdown-item" th:href="@{'?yazyk=kz'}">EN</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" th:placeholder="#{button.search}" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" th:text="#{button.search}"></button>
        </form>
    </div>
</nav>