<div class="list-group" xmlns:th="http://www.thymeleaf.org">
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
        KARMAPOLITAN
    </a>
    <a href="#" class="list-group-item list-group-item-action" th:text="#{sidebar.allCategories}"></a>
    <a href="#" class="list-group-item list-group-item-action" th:text="#{sidebar.phones}"></a>
    <a href="#" class="list-group-item list-group-item-action" th:text="#{sidebar.home}"></a>
</div>