<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="//www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main_frame.html">
<div layout:fragment="mainContent">

    <div class="row">
        <div class="col-6 mx-auto">
            <form th:action="@{'/savefood'}" method="post">
                <input type="hidden" name="id" th:value="${food!=null?food.id:null}">
                <div class="form-group">
                    <label>
                        NAME:
                    </label>
                    <input type="text" name="name" class="form-control" placeholder="Insert price" th:value="${food!=null?food.name:''}">
                </div>
                <div class="form-group">
                    <label>
                        PRICE:
                    </label>
                    <input type="number" name="price" class="form-control" placeholder="Insert price" th:value="${food!=null?food.price:0}">
                </div>
                <div class="form-group">
                    <label>
                        CALORIES :
                    </label>
                    <input type="number" name="calories" class="form-control" placeholder="Tag name" th:value="${food!=null?food.calories:''}">
                </div>

                <div class="form-group">
                    <label>
                        HALAL :
                    </label>
                    <select name="is_halal" class="form-control">
                        <option th:selected="${food!=null&&food.isHalal()}" value="true">YES</option>
                        <option th:selected="${food!=null&&!food.isHalal()}" value="false">NO</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>COUNTRY: </label>
                    <select name="country_id" class="form-control">
                        <option th:each="cnt : ${countries}"th:text="${cnt.name+' - '+cnt.code}" th:value="${cnt.id}" th:selected="${cnt.id==food.country.id}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <button class="btn btn-success">SAVE FOOD</button>
                    <button type="button" class="btn btn-danger ml-2" data-toggle="modal" data-target="#deleteModal">
                       DELETE FOOD
                    </button>

                </div>
            </form>
            <!-- Button trigger modal -->

            <!-- Modal -->
            <div class="modal fade" id="deleteModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form th:action="@{'/deletefood'}" method="post">
                            <input type="hidden" name="id" th:value="${food!=null?food.id:null}">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">DELETE FOOD</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
                            <button  class="btn btn-danger">YES</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3" id="ingredientsDiv">
        <div class="col-6 offset-3">
            <table class="table table-striped">
                <tr th:each="ing:${food.ingredients}">
                    <form th:action="@{'/popingredients'}" method="post">
                        <input type="hidden" name="food_id" th:value="${food!=null?food.id:null}">
                        <input type="hidden" name="ingredient_id" th:value="${ing.id}">
                        <td th:text="${ing.name}"></td>
                        <td width="10%"><button class="btn btn-danger btn-sm">-</button></td>
                    </form>
                </tr>
            </table>
        </div>
    </div>

    <div class="row mt-3" >
        <div class="col-6 offset-3">
            <table class="table table-striped">
                <tr th:each="ing:${ingredients}">
                    <form th:action="@{'/pushingredients'}" method="post">
                        <input type="hidden" name="food_id" th:value="${food!=null?food.id:null}">
                        <input type="hidden" name="ingredient_id" th:value="${ing.id}">
                        <td th:text="${ing.name}"></td>
                        <td width="10%"><button class="btn btn-success btn-sm">+</button></td>
                    </form>
                </tr>
            </table>
        </div>
    </div>

</div>
</html>