<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="//www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main_frame.html">
    <div layout:fragment="mainContent">
        <div class="row">
            <div class="col-6 mx-auto">
                <form th:action="@{'/addfood'}" method="post">
                    <div class="form-group">
                        <label th:text="#{label.name}"></label>
                        <input type="text" name="name" class="form-control" th:placeholder="#{label.name}">
                    </div>
                    <div class="form-group">
                        <label th:text="#{label.price}"></label>
                        <input type="number" name="price" class="form-control" th:placeholder="#{label.price}">
                    </div>
                    <div class="form-group">
                        <label>Calories</label>
                        <input type="text" name="calories" class="form-control" placeholder="Calories">
                    </div>

                    <div class="form-group">
                        <label>
                            HALAL :
                        </label>
                        <select name="is_halal" class="form-control">
                            <option  value="true">YES</option>
                            <option  value="false">NO</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>COUNTRY: </label>
                        <select name="country_id" class="form-control">
                            <option th:each="cnt : ${countries}"th:text="${cnt.name+' - '+cnt.code}" th:value="${cnt.id}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success">ADD FOOD</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th th:text="#{label.name}"></th>
                        <th th:text="#{label.price}"></th>
                        <th>CALORIES</th>
                        <th>HALAL</th>
                        <th>COUNTRY</th>
                        <th>ADDED DATE</th>
                        <th width="10%" th:text="#{button.details}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="hav: ${foods}">
                        <td th:text="${hav.id}"></td>
                        <td th:text="${hav.name}"></td>
                        <td th:text="${hav.price}"></td>
                        <td th:text="${hav.calories}"></td>
                        <td th:text="${hav.isHalal()?'YES':'NO'}"></td>
                        <td th:text="${hav.country.name}"></td>
                        <td th:text="${hav.addedDate}"></td>

                        <td><a th:href="@{'/detail/'+${hav.id}}" class="btn btn-success" th:text="#{button.details}"></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{'/js/jquery-3.5.1.min.js'}"></script>
    <script type="text/javascript" th:src="@{'/js/bootstrap.min.js'}"></script>
</html>